/* 黒線のついた見出し  */

h2 {
   letter-spacing: 3px;
   border-bottom: 2px solid #000000;
   padding-top: 100px;
   padding-bottom: 30px;
   margin-bottom: 50px;
   font-size: 30px;
   color: #000000;
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
   font-family: Krungthep;
}
@media(max-width:600px){
  h2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}


/* オレンジ背景の見出し*/

h3 {
  font-size: 18px;
  background-color: #ee7800;
  letter-spacing: 3px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
}

/* HOME の横並び写真   */

.gray {
  width: 100%;
  height: auto;
  background-color: #F4F4F4;
  float: left;
  box-shadow: 0 1px 20px 0 rgba(0,0,0,0.4) inset;
  margin-top: 50px;
  padding-bottom: 50px;
}
.wrapper-gray {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}
.wrapper-gray-img {
  width: 20%;
  height: auto;
  float: left;
  margin-left: 5%;
  text-align: center;
  font-size: 13px;
}
@media(max-width:1000px){
   .wrapper-gray-img {
     width: 45%;
   }
}
@media(max-width:500px){
  .wrapper-gray-img {
     width: 100%;
     margin-left: 0;
  }
}
.wrapper-gray img {
   width: 100%;
}
img {
   border-radius: 2%;
   -moz-border-radius: 2%;
   -webkit-border-radius: 2%;   
}



/* STAFF,SYSTEM */
.article-1 {
  width: 100%;
  height: auto;
  float: left;
  margin-left:;
  margin-right:;
  margin-top: 20px;
  color: #2b2b2b;
}


/* HOME,SYSTEM の左隣の画像 */
.text-side-img {
  width: 40%;
  height: auto;
  float: left;
}
@media(max-width:700px){
  .text-side-img {
    width: 100%;
  }
}

.text-side-img img {
  width: 100%;
   border-radius: 2%;
   -moz-border-radius: 2%;
   -webkit-border-radius: 2%;   
  margin-bottom: 30px;
}



/* SYSTEM,HOME,ACCESS の右隣の文章 */

.article-text {
  width: 60%;
  height: auto;
  padding-left: 1%;
  padding-right: 3%;
  line-height: 1.5;
  margin-bottom: 30px;
  float: left;
} 
@media(max-width:700px){
  .article-text {
    width: 100%;
   }
}
.article-text p {
  font-size: 17px;
  letter-spacing: 2px;
  padding-bottom: 15px;
  padding-left: 5%;
}


/* STAFF */
.article-box {
   font-family: Arial Narrow;
   width: 18%;
   margin-left: 6%;
   height: auto;
   float: left;
   background-color:;
   border-radius: 6px;
   -moz-border-radius: 6px;
   -weblit-border-radius: 6px;
   margin-bottom: 100px;
   border-bottom: 8px solid #ee7800;
   border-top: 8px solid #ee7800;
}   
@media(max-width:700px){
  .article-box {
   width: 30%;
   margin-left: 3%;
  }
}

@media(max-width:500px){
  .article-box {
   width: 45%;
   margin-left: 0;
  }
}
.article-box img {
   width: 100%;
   height: ;
   border-radius: 5%;
   -moz-border-radius: 5%;
   -webkit-border-radius: 5%;   
}
.article-box-img {
   width: 100%;
}
.article-box p {
  text-align: center;
  padding-top: 30px;
}

.article-link {
  font-size: 70%;
  text-align: center;
}


/* STAFF の名前*/
h4 {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 20px;
  color: #ee7800;
}



/* HOME のvideo　*/

.video-contents {
  width: 100% !important;  
  height: auto;
}
video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(/video/tompoederbachlasvegasblvdcopyforvimeobyphilipbloommp4.jpg) no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (max-device-width: 800px) {
  html { background: url(/video/tompoederbachlasvegasblvdcopyforvimeobyphilipbloommp4.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

.video-text {
  width: 100%;
  position: absolute;
   top: 280px;
  font-size: 60px;
  color: #ffffff;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  letter-spacing: 10px;
}
@media(max-width:900px){
  .video-text {
    font-size: 30px;
    position: absolute;
     top: 150px;
  }
}

@media(max-width:550px){
  .video-text {
    font-size: 30px;
    position: absolute;
     top: 100px;
  }
}
/* NEWS */

.article-2 {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 50px;
}
.article-text-2 {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 20px;
  font-size: 13px;
}
.date {
  width: 15%;
  float: left;
  padding-left: 3%;
  padding-right: 3%;
}
@media(max-width:700px){
  .date {
    width: 50%; 
  }
}
.topic {
  width: 15%;
  float: left;
  background-color: gray;
  text-align: center;
  color: #ffffff;
  padding-top: 2px;
  padding-bottom: 2px;
}
@media(max-width:700px){
  .topic {
   width: 50%;
  }
}
.infomation {
 width: 70%;
 float: left;
} 
@media(max-width:700px){
  .infomation {
    width: 100%;
   }
}

/* ACCESS　地図 */
.map {
  width: 40%;
  height: 500px;
}
@media(max-width:700px){
  .map {
    width: 100%;
    height: 200px;
    padding-bottom: 50px;
  }
}  
/* 共通で使っているもの */

.margin0 {
   margin-left:0;
}
.width100 {
  width: 100%;
}
 
span {
  font-size: 25px;
}
.height50 {
  height: 50%;
} 

